<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Webpack
    body
        div.container
            h1.title Pug stub!!!
        include blocks/header.pug